<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style type="text/css">
        <!--
        /* 整个滚动条 */
        ::-webkit-scrollbar {
            width: 10px;
            /* 滚动条的宽度 */
            height: 10px;
            /* 滚动条的高度，对水平滚动条有效 */
            background-color: #f9f9fd;
            /* 滚动条的背景颜色 */
        }

        /* 滚动条轨道 */
        ::-webkit-scrollbar-track {
            border-radius: 8px;
            background: #e1e1e1;
            /* 轨道的背景颜色 */
        }

        /* 滚动条滑块 */
        ::-webkit-scrollbar-thumb {
            border-radius: 8px;
            background-color: #c1c1c1;
            /* 滑块的背景颜色 */
            border: 3px solid #e1e1e1;
            /* 滑块的边框和轨道相同的颜色，可以制造“边距”的效果 */
        }

        /* 滚动条滑块：悬停效果 */
        ::-webkit-scrollbar-thumb:hover {
            background-color: #a8a8a8;
            /* 滑块的悬停颜色 */
        }

        /* 滚动条滑块：激活时的效果 */
        ::-webkit-scrollbar-thumb:active {
            background-color: #888888;
            /* 滑块的激活颜色 */
        }

        /* 滚动条按钮（上下箭头） */
        ::-webkit-scrollbar-button {
            display: none;
            /* 通常情况下不显示滚动条按钮 */
        }



        body {
            margin: 0px;
            background-color: #f5f6f9;
            border-right: 1px solid #999;

        }

        a {
            text-decoration: underline;
            color: #333;

        }

        .style1 {
            color: #CC6633
        }

        .fileList {
            padding-left: 10px;
            font-size: 14px;
        }
        -->
    </style>




</head>

<body style="line-height:26px">

    <h2 style="padding: 15 0 0 10">Node.js MongoDB Chat&File Share Platform</h2>
    <hr>


    <%# 第一次的files从页面跳转的index_left中获取数据 以后的数据通过js的定时任务获取数据并加载到fileList中进行替换 %>
        <div class="fileList" id="fileList">

            <% for(let i=0; i < files.length; i++){%>


                <a href="/api/upload/delFile/<%=files[i]%>">Del</a>
                >
                <a href="/files/<%=files[i]%>">
                    <%=files[i]%>
                </a> <br>



                <% } %>

        </div>


        </br></br>

        <div style="position: fixed;bottom: 0;padding-left: 30px;padding-top: 10px;height: 40px; width: 100%; background-color: #f8eecf;">

            <!-- /* <form action="/api/upload/file" method="post" enctype="multipart/form-data"> */ -->

            <form>
                <input type="file" name="file" id="file" size="10">

                <input type="button" id="btn" name="btn" value="uploadfile">


            </form>
        </div>


        <script>

            let btn = document.querySelector('#btn');
            btn.addEventListener('click', () => {
                // 要处理成表单对象上传
                const formsdata = new FormData();
                //formsdata.append('username', username.value);
                // 追加name值，和文件对象
                formsdata.append('file', file.files[0]);

                axios.post('/api/upload/file', formsdata, {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                    },
                }).then(res => {
                    if (res.data.meta.code === 200) {
                        location.reload();
                    }

                    // document.querySelector('img').src = res.data.imgPath;
                });
            });




            function getdata() {
                //console.log(1)
                axios.get("/api/upload/getfiles").then((res) => {
                    res = res.data.data.files
                    // console.log(res)

                    var userListHTML = ""
                    for (var i = 0; i < res.length; i++) {

                        userListHTML += `
                   <a href="/api/upload/delFile/${res[i]}">Del</a> 
                    >
                    <a href="/files/${res[i]}">  ${res[i]}</a>  <br>
                    `;
                    }
                    document.querySelector('#fileList').innerHTML = userListHTML

                }).catch((error) => {
                    // console.error(error)
                });

            }

            setInterval(function () {
                getdata();
            }, 30000)

        </script>
</body>

</html>