<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta http-equiv="refresh" content="30" />

    <style type="text/css">
        <!--
        body {
            margin: 10px;
            background-color: #f5f6f9;
            border-right: 1px solid #999;

        }

        a {
            text-decoration: underline;
            color: #333;

        }

        .style1 {
            color: #CC6633
        }
        -->
    </style>




</head>

<body style="line-height:26px">


    <a href=?del=1&url=conn.zip>Del</a> > <a href=127.0.0.1:8080/tmpfile/conn.zip>conn.zip<br><a
            href=?del=1&url=mongoDBPPT.ppt>Del</a> > <a
            href=http://127.0.0.1:8080/tmpfile/mongoDBPPT.ppt>mongoDBPPT.ppt<br>

            <div style="position: fixed;bottom: 0;">

                <form action="/sub_upload" method="post" name="kunbao_ch_type" enctype="multipart/form-data">

                    <input type="file" name="kunbao_file" size="10">

                    <input type="submit" name="tiaoma_ch" value="upload">
                    </td>


                </form>
            </div>

</body>

</html>