
<html>
<head>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<title></title>
<style type="text/css">
<!--
body {
	margin: 0px;
	background-color:#f5f6f9;
    font-size: 14px;
    line-height:35px
	/*border-right:1px solid #666;*/
}
.style1 {color: #CC6633}

hr{
    border: 0.5px solid #ccc;
}
-->
</style>


</head>

<body>
    
<div class="chartList" id="chartList"></div>


</body>

<script>
	
	let oldstr=[]

	function getdata() {
                
                axios.get("/api/charts/").then((res) => {

					res = res.data
                    //res=res.reverse();

					//console.log(oldstr.length !== res.length)
					
                    console.log(res)
					if(oldstr.length != res.length){
                    var userListHTML = ""
                    for (var i = 0; i < res.length; i++) {
                        var usr = '<%= LoginUser %>';
                        //console.log(usr);
                        let usr2=res[i].username;
                        //console.log(usr2);
                        console.log(usr2==usr);
                        

                        

                        var colo;
                                                  
                            if(usr==usr2){
                                console.log(1)
                            colo='background-color:#f5f6f9;padding:10px;text-align:right;'
                            }else{
                                console.log(2)
                                colo='background-color:#f5f6f9;padding:10px;'
                            }

                        
                                console.log(3)


                            userListHTML += `<div style="${colo};" >

						                    - - ${res[i].usernameCN}  &nbsp; ${res[i].createTime}  </br> ${res[i].chartContentHtml}  </div>

                                        `;

                                    }
                    document.querySelector('#chartList').innerHTML = userListHTML
					oldstr=res
				}
                }).catch((error) => {
                    // console.error(error)
                });

            }

            setInterval(function () {
                getdata();
            }, 3000)

        </script>
		
</html>
