<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta http-equiv="refresh" content="30" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <style type="text/css">
        <!--
        body {
            margin: 10px;
            background-color: #f5f6f9;
            border-right: 1px solid #999;

        }

        a {
            text-decoration: underline;
            color: #333;

        }

        .style1 {
            color: #CC6633
        }
        -->
    </style>




</head>

<body style="line-height:26px">


    <!--/*  <a href=?del=1&url=conn.zip>Del</a> > <a href=127.0.0.1:8080/tmpfile/conn.zip>conn.zip<br><a
            href=?del=1&url=mongoDBPPT.ppt>Del</a> > <a
            href=http://127.0.0.1:8080/tmpfile/mongoDBPPT.ppt>mongoDBPPT.ppt<br> */  -->

    <div style="position: fixed;bottom: 0;">

        <!-- /* <form action="/api/upload/file" method="post" enctype="multipart/form-data"> */ -->

        <form>
            <input type="file" name="file" id="file" size="10">

            <input type="button" id="btn" name="btn" value="uploadfile">


        </form>
    </div>


    <script>

        let btn = document.querySelector('#btn');
        btn.addEventListener('click', () => {
            // 要处理成表单对象上传
            const formsdata = new FormData();
            //formsdata.append('username', username.value);
            // 追加name值，和文件对象
            formsdata.append('file', file.files[0]);

            axios.post('/api/upload/file', formsdata, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                },
            }).then(res => {
                if (res.data.meta.code === 200) {
                    location.reload();
                }             
                
                // document.querySelector('img').src = res.data.imgPath;
            });
        });


/* 
        axios.get("/api/upload/getfiles").then((res) => {
            console.log(res)
        }).catch((error) => {
            console.error(error)
        }); */




    </script>
</body>

</html>