
<html>
<head>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
<meta http-equiv="refresh" content="5" />

<title></title>
<style type="text/css">
<!--
body {
	margin: 10px;
	background-color:#f5f6f9;
	/*border-right:1px solid #666;*/
}
.style1 {color: #CC6633}
-->
</style>


</head>

<body style="line-height:26px">
03:04:07 > wangzihu : DEF</br>03:04:04 > wangzihu : ABC</br>
</body>

</html>
