
<html>
<head>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<title></title>
<style type="text/css">
<!--
body {
	margin: 0px;
	background-color:#f5f6f9;
    font-size: 14px;
    line-height:35px
	/*border-right:1px solid #666;*/
}
.style1 {color: #CC6633}

-->
</style>


</head>

<body>


<div class="chartList" id="chartList"></div>
</body>

<script>
	
	let oldstr=[]

	function getdata() {
                //console.log(1)
                axios.get("/api/charts/").then((res) => {

					res = res.data
					//console.log(oldstr.length !== res.length)
					
                    //console.log(res)
					if(oldstr.length != res.length){
                    var userListHTML = ""
                    for (var i = 0; i < res.length; i++) {

                        if(i%2==0){  
                            colo='background-color:#DFF0D8'
                       }
                        userListHTML += `<div style="${colo};border-radius:6px;" >

						 ${res[i].usernameCN}  :&nbsp; ${res[i].chartContent}  </div>

                    `;
                    colo='background-color:#f6eaea;';
                    }
                    document.querySelector('#chartList').innerHTML = userListHTML
					oldstr=res
				}
                }).catch((error) => {
                    // console.error(error)
                });

            }

            setInterval(function () {
                getdata();
            }, 3000)

        </script>
		
</html>
