
DEF...
 
<HTML>
<HEAD>
<TITLE>JXUE</TITLE>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
<style type="text/css">
<!--
body {
	margin: 10px;
	background-color:#fff;
	 display: flex; justify-content: center; align-items: center; 
}
</style>
</HEAD>

  <body> 
  <div style="margin:0 auto;">
  
  <form action="?type=1" method="post">
   
  wangzihu&nbsp;>&nbsp;
 <!-- <input name="say" style="width:300px;" type="text">-->
  <textarea style="width:300px;" rows="3" name="say"></textarea>
    <input name="type" type="hidden" value="1">
  <input name="button"  value="Say" type="submit" />

  </form>
  </div>
  </body>

</HTML>