<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>title</title>
</head>

<body>
    <form action="/api/user/login/"  method="post">

        <input name="username" id="username" style="width:150px;height:25px;font-size:18px;">
        <input name="type" type="hidden" value="1">
        <%=err%>
            <input name="button" id="login" type="button" value="Login">
    </form>

    <script>
        var username = document.querySelector("#username")
        var login = document.querySelector("#login")
    
            login.onclick=()=>{
                console.log(username.value)
                fetch("/api/user/login/",{
                    method:"POST",
                    body:JSON.stringify({
                        username:username.value
                    }),
                    headers:{
                        "Content-Type":"application/json"
                    }
                }).then(res=>{
                    console.log(res)
                    location.href="/main"
                })
            }
    
    
    </script>
</body>

</html>