<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Share&Chat</title>
</head>

<body>
    <form action="/api/user/login/"  method="post">

        <input name="username" type="password" id="username" style="width:150px;height:25px;font-size:18px;">
        <input name="type" type="hidden" value="1">
        <%=err%>
        <span id="res"></span>
            <input name="button" id="login" type="button" value="Login">
    </form>

    <script>
        var username = document.querySelector("#username")
        var login = document.querySelector("#login")
    
            login.onclick=()=>{
        console.log(username.value)
        if (username.value == '' || username.value == undefined || username.value == null) {//输入框中输入空格也为空
            //return true;
            alert("input username");
        } else {
            //return false;
           
            fetch("/api/user/login/",{
                    method:"POST",
                    body:JSON.stringify({
                        username:username.value
                    }),
                    headers:{
                        "Content-Type":"application/json"
                    }
                }).then(res=>{
                    console.log(res)
                    location.href=res.url;
                })

        }
               



            }
    
    
    </script>
</body>

</html>