<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>title</title>
</head>
<body>
    <form action="/user/login/" method="post">
   
        <input name="username" type="password" style="width:300px;height:35px;font-size:18px;">
        <input name="type" type="hidden" value="1">
        <%=err%>
        </form>
      
</body>
</html>