

<HTML>
    <HEAD>
    <TITLE>VSTU_Share&Chat</TITLE>
    <META http-equiv=Content-Type content="text/html; charset=utf-8">
    </HEAD>
    <FRAMESET rows="85%,15%"  framespacing="0" frameBorder=no border="0" >
    
    <FRAMESET  cols="40%,60%" framespacing="0" frameBorder=no border="0" bordercolor="#006699" name=mer>
    <FRAME name=go src="./index_left2" noResize scrolling=no>
    <FRAME src="./index_right" name=index_r scrolling="yes" noResize>
    </FRAMESET>
    
    <FRAME src="./index_down" name=index_l scrolling=yes noResize id="index_l">
    
    
    <NOFRAMES>
      <body>
      </body>
    </NOFRAMES></FRAMESET>
    
    </HTML>